#thumbnailView.modal.hide.fade aria-hidden="true" aria-labelledby="imagePreview" role="dialog" tabindex="-1"
  .modal-body
    button.close aria-hidden="true" data-dismiss="modal" type="button" x
    center = image_tag(placeholder_image_path, :class => 'img-polaroid')    

javascript:
  $('a > img').on({
    click: function() {
      var img_src = $(this).parent().data().src;
      $("#thumbnailView > .modal-body > center > img").attr('src', img_src);
    }
  });