meta content="533615003368575" property="fb:app_id"
meta content="quotiful:quotiful" property="og:type"
meta content="#{@ogtags[:description]}" property="og:description"
meta content="#{@ogtags[:web_url]}" property="og:url"
meta content="#{@ogtags[:title]}" property="og:title"
meta content="#{@ogtags[:image_url]}" property="og:image"
meta content="Quotiful" property="og:site_name"
meta content="a" property="og:determiner"