legend Quotiful
p
  strong = "#{params[:full_name] || 'User'},"
p Your password has been reset! Please try logging in again. If your problem persists, please visit #{link_to "http://quotiful.com/contact/", "http://quotiful.com/contact/"}.