legend Quotiful
p
  strong = "#{params[:full_name]},"
p Your password has been reset! Please try logging in again. If your problem persists, please contact our #{mail_to "feedback@quotiful.com", "support"}.