<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Quotiful</title>
    <style type="text/stylesheet">
      .im{color:black !important;}
      p{color:#000000 !important;}
      div.gapcontentarea p {color:#000000 !important;font-size:12pt;}
    </style>
  </head>
  <body>
    <div style="font-family:Arial,sans-serif;font-size:10pt;">
      <p style="margin:10px auto;padding:0;color:#000000;">Hi <%= @user.full_name %>,</p>
      <p style="margin:10px auto;padding:0;color:#000000;">We received a password reset request for your Quotiful account. To reset your password, use the link below:</p>
      <p style="margin:10px auto;padding:0;color:#000000;"><%= link_to 'Change my password', edit_users_passwords_url(:reset_password_token => @user.reset_password_token) %></p>
      <p style="margin:10px auto;padding:0;color:#000000;">If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
      <p style="margin:10px auto;padding:0;color:#000000;">
        Thanks,<br>
        The Quotiful Team<br>
        http://www.quotiful.com
      </p>
    </div>
  </body>
</html>